# yaml-language-server: $schema=https://grafana.com/docs/grafana/latest/administration/provisioning/#datasources
# Grafana datasource provisioning configuration
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
